@import "tailwindcss";

@utility primary {
  @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600;
}

@utility secondary {
  @apply bg-neutral-300 text-black px-4 py-2 rounded-lg hover:bg-neutral-400;
}

@utility subtle {
  @apply bg-transparent text-black px-4 py-2 rounded-lg hover:bg-black/5;
}

input {
  @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

input.transparent {
  @apply bg-transparent border border-transparent rounded-md px-3 py-2 focus:ring-transparent focus:border-transparent;
}

select{
  @apply border border-gray-300 rounded-md px-3 py-1.5 focus:border-gray-500;
}

select.transparent{
  @apply bg-transparent border border-transparent rounded-md px-3 py-1.5 focus:ring-transparent focus:border-transparent;
}

@keyframes spinner-rotate {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.spinner-rotate {
  animation: spinner-rotate 2s linear infinite;
}

.spinner-dash {
  animation: spinner-dash 1.5s ease-in-out infinite;
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@utility animate-shimmer {
  background: linear-gradient(90deg, #d1d5db 25%, #f3f4f6 50%, #d1d5db 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}